{% extends 'header.html' %}
{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Compare Countries Economies</h1>
            <p class="col-lg-10 fs-4">Using realtime data from <a href="https://tradingeconomics.com/" target="_blank">Trading Economics</a> I can be 
            your investment advisor. Give me a try <span>&#9758;&rarr;</span>
        </p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light row" method="POST" action="{% url 'result' %}">
                {% csrf_token %}
                <div class="form-floating mb-3 row">
                    <input type="text" id="country1" name="country1" required placeholder="First Country"><br><br>
              </div>
              <div class="form-floating mb-3 row">
                <input type="text" id="country2" name="country2" required placeholder="Second Country"><br><br>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Go</button>
              <hr class="my-4">
              </form>
          </div>
        </div>
      </div>
    {% endblock %}

{% include 'footer.html'%}